.navbar {
  background-color: var(--dark-accent);
  color: var(--light-accent);
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  flex-grow: 1;
}

.link {
  color: var(--light-accent);
  text-decoration: none;
}

.link:hover {
  text-shadow: 0 0 5px;
  color: var(--light-text)
}

.no_mw {
  text-align: center;
  flex-grow: .75;
}

.m_no_vertical {
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
  .no_mw {
    display: none;
  }

  .nav_links {
    /* display: flex;
    justify-content: space-around;
    gap: 5px; */
    flex-grow: 1;
  }
}